.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    display: flex;
  }
  
  .title h1 {
    margin-bottom: 25px;
    font-size: 28px;
    cursor: pointer;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
